base64enc
Biobase
BiocGenerics
BiocManager
BiocVersion
cli
cluster
colorspace
commonmark
crayon
curl
data.table
digest
doParallel
dplyr
evaluate
fansi
farver
fastmap
forcats
foreach
foreign
generics
ggfittext
gggenes
ggplot2
glue
gridBase
gridtext
gtable
htmltools
IRdisplay
IRkernel
isoband
iterators
jpeg
jsonlite
labeling
lifecycle
litedown
magrittr
markdown
MASS
Matrix
munsell
NMF
pbdZMQ
pillar
pkgconfig
plyr
png
R6
RColorBrewer
Rcpp
registry
remotes
repr
reshape2
rlang
rngtools
scales
sfsmisc
shades
stringi
stringr
tibble
tidyselect
utf8
uuid
vctrs
viridisLite
withr
xfun
xml2
base
boot
class
cluster
codetools
compiler
datasets
foreign
graphics
grDevices
grid
KernSmooth
lattice
MASS
Matrix
methods
mgcv
nlme
nnet
parallel
rpart
spatial
splines
stats
stats4
survival
tcltk
tools
translations
utils
